<div class="datastore-filter-settings">
<h4><b>Add New Data Store Entry</b></h4>
<form name="datastoreForm" ng-submit="addDatastore()">
    <div class="form-group">
        <span class="form-control-wrap" ng-class="{'ng-valid': datastoreForm.namespace.$valid}">
                <div class="select-filtertype">
                    <ui-select ng-required="true" ng-model="datastore.namespace">
                        <ui-select-match placeholder="namespace">
                            <span>{{namespace}}</span>
                        </ui-select-match>
                        <ui-select-choices repeat="item in namespace">
                            <span>{{item}}</span>
                        </ui-select-choices>
                    </ui-select>
                </div>
        </span>
        <p class="error validationerror" ng-show="datastoreForm.namespace.$invalid && datastoreForm.namespace.$touched">
        You must select a namespage.</p>
    </div>
    <div class="form-group">
        <span class="form-control-wrap" ng-class="{'ng-valid': datastoreForm.key.$valid}">
            <input class="form-control" placeholder="key" name="key" type="text" ng-required="true" ng-model="datastore.key">
        </span>
        <p class="error validationerror" ng-show="datastoreForm.key.$invalid && datastoreForm.key.$touched">
        You must enter a key.</p>
    </div>
    <div class="form-group">
        <span class="form-control-wrap" ng-class="{'ng-valid': datastoreForm.value.$valid}">
            <textarea class="form-control" placeholder="value" name="value" type="text" ng-required="true" ng-model="datastore.value"></textarea>
            <p class="error validationerror" ng-show="datastoreForm.value.$invalid && datastoreForm.value.$touched">
        You must enter a value.</p>
        </span>
    </div>
    <div class="form-controls-wrap">
        <button class="btn btn-primary" ng-class="{ 'processing': addDatastore.isProcessingaddDatastore }" ng-disabled="!datastoreForm.$valid || addDatastore.isProcessingaddDatastore" ng-click="addDatastore.addDatastore()">
            <i class="fa fa-plus-square-o adde"></i>  <span ng-bind="addDatastore.getErrorString(datastoreForm) || 'Add'"></span>
        </button>
        <a ui-sref="list">
	        <button class="btn btn-danger">
			    <i class="fa fa-times"></i> <span ng-bind="addDatastore.getErrorString(datastoreForm) || 'Cancel'"></span>
	        </button>
        </a>
    </div>
</form>
</div>